nav {
    background-color: #F2F4F7;
}

nav div.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav div.content div.box-two span.circle {
    padding: 10px;
    border-radius: 100%;
    background-color: #2E3A6E;
    color: white;
}


nav div.content div.input {
    background-color: white;
    width: 50%;
    margin: 0px auto;
    padding-left: 20px;
    height: 36px;
    border-radius: 30px;
}

nav div.content div.input input {
    width: 90%;
    border: none;
    height: 35px;
    outline: none;
}

nav div.content div.input input::placeholder {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.36px;
    color: #576378;
}


div.first-section div.content div.great a.cat {
    text-decoration: none;
    display: flex;
    padding-top: 15px;
    border-bottom: 1px solid #DFE2E9;
    padding-left: 20px;
    padding-bottom: 10px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
}

div.first-section div.content div.image {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
}

div.first-section div.content div.image img {
    width: 100%;
    border-radius: 20px;
    height: 200px;
}

div.first-section div.content p.p-one {
    margin-bottom: 0px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 24.2px;
    letter-spacing: -0.01em;
    color:#0A1853;
    margin-bottom: 5px;
    cursor: pointer;   
}

div.first-section div.content p.p-two {
    margin-bottom: 0px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 24.2px;
    letter-spacing: -0.01em;
    color: #576378;
    margin-bottom: 5px;
    cursor: pointer;
}


footer {
    margin-top: 100px;
    height: 230px;
    background-image: url('../asset/footer.png');
    background-repeat: no-repeat;
}

footer div.content {
    display: flex;
}

footer div.content div.one {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

footer div.content div.one p {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.57px;
    color: #0A1853;
    margin-top: 0px;
}

footer div.content div.one span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0A1853;
    width: 30%;
}

footer div.content div.one img {
    width: 100px;
}

footer div.content div.two {
    position: relative;
    right: 0;
    bottom: 70px;
    height: 300px;
    overflow: hidden;
}

footer div.content div.two img {
    height: 400px;
}


div.good-modal div.image {
    text-align: center;
    height: 200px;
    width: 50%;
    margin: 0px auto;
}

div.good-modal div.image img {
    border-radius: 5.86px;
    width: 40%;
    margin: 0px auto;
}

div.good-modal p.one {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    letter-spacing: -0.02em;
    color: #0A1853;
}

div.good-modal p.two {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    letter-spacing: -0.02em;
    color: #576378;
}

div.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 24px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    width:  20%;
    margin: 0px auto;
    border-radius: 20px;
    background-color: #F5F7FA;
}
div.counter button {
    padding: 5px 5px;
    font-size: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}
div.counter .number {
    width: 20px;
    text-align: center;
    font-size: 13px;
}

div.button {
    text-align: center;
    margin-top: 25px;
}

div.button button {
    background-color: #2E3A6E;
    color: white;
}